.tituloPrincipal{
    font-size: 25px;    
    font-weight: 800;
    display: inline;
}

.tituloFormulario{
    font-size: 32px;
    font-weight: bold;
}

.comentarioPieDePagina{
    text-align: right;
    font-size: 14px;
    display: inline;
}